@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Poppins';
  src: url('../assests/Poppins/Poppins-Light.ttf');
  src: url('../assests/Poppins/Poppins-Medium.ttf');
  font-weight: 400;
  font-style: normal;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: Poppins;
}

a {
  color: inherit;
  text-decoration: none;
}
span.swiper-pagination-bullet.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  border: 1px solid rgba(24, 25, 31, 0.3);
}
.swiper-pagination-bullet {
  background-color: white;
}
.swiper-pagination-bullet-active {
  background-color: #ff4a6c !important;
  border: 0px;
}

.swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 10%;
  left: -40%;
}
.swiper-button-next::after {
  display: none;
}
.swiper-button-prev::after {
  display: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
